
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 20px;
  }
.main-content {
    display: flex;
}

.modal-body {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Optima', sans-serif;
    text-transform: capitalize;
    font-size: 2rem;

}


h2 {
    font-size: 20px;
}

h3 {
    text-align: center;
    padding-top: 5px;
}

h4 {
    font-size: smaller;
    text-align: center;
    font-style: italic;
}

h5 {
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
}

hr {
    margin: 10px 0;
}

.btn {
    background-color: #21d192;
    color: rgb(0, 0, 0);
    border-color: #000000;
    text-align: center;
    display: flex;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

main {
    background-color: #f2f1f7c4;
    overflow: auto;

}

.card {
    background-color: #ffffff;
    border: 1px solid #0063305f;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 100%;

}

canvas {
    width: 100% !important;
    height: auto !important;
}

.card-title {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

footer {
    padding: 10px 0;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#expensesTableContainer {
    display: flex;
    justify-content: center;
    font-family: 'Optima', sans-serif;
    
}

td tr th {
    padding: 7px;
    text-align: center;
    justify-content: center;
    color: #333;
}

.sticky-aside {
    position: -webkit-sticky;
    top: 20px;
    right: 20px; /* Distance from the right */
  width: 300px; /* Width of the aside */
  height: 90vh; /* Height based on the viewport height */
  overflow: auto; /* Make content scrollable */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f2f1f7c4;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
