/*
    * CSS for Header
*/

header {
    background-color: gray;
    color: white;
    border-bottom: 5px solid #333;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 10px 0;
    text-align: center;
}

/*
   * CSS for Form and Main
*/

/* Form CSS */

aside {
    width: 25%;
    height: 580px;
    float: left;
    border-right: 2.5px solid #333;
    border-bottom: 5px solid #333;
}

form {
    margin: 10px;
    border: 2px solid gray;
    box-shadow: 0 0 4px gray;
}

#padding {
    padding: 10px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

#submit-button {
    margin: 10px;
    text-align: center;
    padding-top: 7.5px;
}

#submit-form {
    width: 100%;
    height: 40px;
    background-color: #5dbea3;
    color: white;
    border-color: gray;
}

#submit-form:hover {
    background-color: #4daa9b;
    box-shadow: 0 0 5px #4daa9b;
}

/* Main CSS */

main {
    width: 75%;
    height: 580px;
    float: right;
    border-left: 2.5px solid #333;
    border-bottom: 5px solid #333;
}