body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 20px;
}

.main-content {
    display: flex;
}

.modal-body {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Optima', sans-serif;
    text-transform: capitalize;
    font-size: 2rem;
}

h2 {
    font-size: 20px;
}

h3 {
    text-align: center;
    padding-top: 5px;
}

h4 {
    font-size: smaller;
    text-align: center;
    font-style: italic;
}

h5 {
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
}

hr {
    margin: 10px 0;
}

.btn {
    background-color: #21d192;
    color: rgb(0, 0, 0);
    border-color: #000000;
    text-align: center;
    display: flex;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

main {
    background-color: #f2f1f7c4;
    overflow: auto;

}

.card {
    background-color: #ffffff;
    border: 1px solid #0063305f;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 100%;

}

canvas {
    width: 100% !important;
    height: auto !important;
}

.card-title {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

footer {
    padding: 10px 0;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

h5.text-muted.fw-normal.mt-0 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-bottom: 15px;
}

#expensesTableContainer {
    display: flex;
    justify-content: center;
    font-family: 'Optima', sans-serif;

}

table {
    width: 100%;
    margin-top: 20px;
    font-family: 'Optima', sans-serif;
}

th {
    background-color: #eaeaea;
    color: #333;
    padding: 10px;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
}

td {
    padding: 7px;
    text-align: left;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #eaeaea;
}

.sticky-aside {
    position: -webkit-sticky;
    font-family: 'Optima', sans-serif;
    font-size: 18px;
    top: 20px;
    right: 20px;
    width: 315px;
    height: 90vh;
    overflow: auto;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #caead271;
    border: 1px solid #0063305f;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
}

#submit-form {
    background-color: #21d192;
    color: rgb(0, 0, 0);
    border-color: #000000;
    border-width: 1px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    font-size: 17px;
    padding: 4px 10px;
    cursor: pointer;
}

#submit-form:hover {
    background-color: #0008ff;
    color: #fff;
}