/*
    * CSS for Header
*/
html, body {
    height: 100%;
    margin: 10px;
  }

header {
    background-color: gray;
    color: white;
    border-bottom: 5px solid #333;
    padding: 10px 0;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Use viewport height to ensure minimum height */
  }
  
.main-content {
    flex: 1; /* Ensures it takes up the available space */
  }

h1 {
    margin: 10px 0;
    text-align: center;
}

/*
   * CSS for Form and Main
*/

/* Form CSS */

aside {
    display: none;
    width: 25%;
    height: 580px;
    float: left;
    border-right: 2.5px solid #333;
    border-bottom: 5px solid #333;
    background-color: #f2f1f7c4;
}


form {
    margin: 10px;
    border: 2px solid gray;
    box-shadow: 0 0 4px gray;
}

#padding {
    padding: 10px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

#submit-button {
    margin: 10px;
    text-align: center;
    padding-top: 7.5px;
}

#submit-form {
    width: 100%;
    height: 40px;
    background-color: #5dbea3;
    color: white;
    border-color: gray;
}

#submit-form:hover {
    background-color: #4daa9b;
    box-shadow: 0 0 5px #4daa9b;
}

/* Main CSS */

main {
    width: 75%;
    height: 580px;
    float: right;
    background-color: #f2f1f7c4;
    overflow: auto;

}

ul.navbar-nav {
        display: flex;
        justify-content: flex-end;
    }

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h1 {
    color: #6ab446;
}

.description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
}

.description button {
    border: 1px solid #6ab446;
    background: #6ab446;
    border-radius: 0;
    color: #fff;
}

.description button:hover {
    border: 1px solid #fff;
    background: #fff;
    color: #000;
}

.features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
}

.feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #0063305f;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;

}

.card-title {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

footer {
    padding: 10px 0;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
